* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-light {
    background-color: #fff !important;
    opacity: 0.75;
    transition: 0.5s ease;
}

.bg-light:hover {
    background-color: #fff !important;
    opacity: 1;
}

.bg-dark {
    background-color: #5A4A43 !important;
}

footer {
    background-color: #5A4A43;
}

.copyright {
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-logo {
    width: 200px;
    height: 200px;

}

.nav-logo-footer {
    width: 150px;
    height: 150px;
    margin: 20px;
}

.btn-outline-dark {
    color: #fff;
    background-color: #F49E2C;
    border: 2.5px solid #5A4A43;

}

.btn-outline-dark:hover {
    color: #5A4A43;
    background-color: #fff;
    border-color: #5A4A43;
}

.btn-outline-dark-principal {
    color: #fff;
    background-color: #F49E2C;
    border: 2.5px solid #5A4A43;
    opacity: 0.75;

}

.btn-outline-dark-principal:hover {
    color: #5A4A43;
    background-color: #fff;
    border-color: #5A4A43;
    opacity: 0.75;
}

.producto-carrito {
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #5A4A43;
    border-top: 1px solid #5A4A43;
}

.img-carrito {
    width: 134.4px;
    height: 76.8px;
}

.boton-eliminar {
    background-color: #fff;
    color: red;
    border: none;
    font-size: 20px;
    margin-top: 0;
}

.boton-eliminar:hover {
    cursor: pointer;
}

.contenedor-precios {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.border-primary {
    border-color: #5A4A43 !important; 
}

.modal-header {
    border-bottom: 2px solid #5A4A43;
}

.modal-footer {
    justify-content: flex-start;
    border-top: 2px solid #5A4A43;
}

.contenedor-filtro {
    padding-top: 96px;
    text-align: center;
}

.bg-modal-fade {
    background-color: rgba(0, 0, 0, 0.3);
}

.encabezado {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("https://i.ibb.co/8PzgyTm/fondo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.encabezado h1, .encabezado .h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

#back-to-top-btn {
    display: inline-block;
    background-color: #F49E2C;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    color: #fff;
    line-height: 60px;
}

#back-to-top-btn:hover {
    cursor: pointer;
}

#back-to-top-btn.show {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 992px) {
    .encabezado {
      height: 100vh;
    }
    .encabezado h1, .encabezado .h1 {
      font-size: 5.5rem;
    }
}

@media (max-width: 1350px) {
    .banner {
        display: none;
    }
}

@media (max-width: 576px) {
    #modal-carrito {
        font-size: 0.80rem;
    }
    .img-carrito {
        display: none;
    }
    #back-to-top-btn {
        transform: scale(0.75);
        bottom: 7.5px;
        right: 7.5px;
    }
    .nav-logo {
        width: 125px;
        height: 125px;
    
    }
}